{% extends "base.html" %}
{% block title %}نيوم{% endblock %}
{%block content%}
<div class="container">
    <div class="row mt-3 container-fluid justify-content-center">
        <div class="col">
            <header class="container-fluid justify-content-center mt-4">
            <h2 class="text-center" style="font-weight: bold;">نيوم</h2>
                <div class="text-center mt-3" style="font-size: 17px;">
                    نيوم كلمة تعني "المستقبل الجديد"، وهي منطقة تقع 
                    شمال غرب المملكة العربية السعودية، حيث يتحقق طموح الآلاف 
                    من الموظفين الذين يعيشون ويعملون فيها. وهذا يؤكد أن نيوم 
                    أصبحت فعلاً موطناً للحالمين والمُنجزين الذين يسهمون في بناء 
                    نموذج اقتصادي جديد ومستقبل واعد للمملكة، والعالم أيضاً 
                </div>
            </header>
        </div>
    </div>
</div>

<div class="container">
    <div class="cards mt-5">
        <div class="card midnight">
            <p class="tip">مقنا</p>
            <p class="container second-text">جوهرة ساحلية لم تُكتشف بعد على خليج العقبة بالقرب من البحر الأحمر. ستكون مقنا وجهة لا مثيل لها وواحدة من أروع الوجهات الطبيعية على وجه الأرض. مزيج مثالي من المناظر الطبيعية الخلّابة والتجارب الاستثنائية لتقدم مفهوماً جديداً للسياحة والمعيشة الفاخرة. كل ذلك داخل محمية طبيعية، حيث أن 95% من أراضيها ستكون مخصصة للحياة البرية.</p>
        </div>
        <div class="card stormcloud">
            <p class="tip">أوكساچون</p>
            <p class="container second-text">ستضم المدينة الروبوتات والأتمتة والذكاء الاصطناعي وإنترنت الأشياء، كما ستتبنّى هذه المدينة الصناعية، التي تهدف إلى الاعتماد على الطاقة المتجددة، ممارسات نيوم لتمكين المُصنِّعين من العمل بكفاءة واستدامة وربحية أكبر. تتمتع أوكساچون بموقع استراتيجي على ساحل البحر الأحمر بالقرب من ممرات الشحن العالمية، مما يجعلها القاعدة المثالية لمصانع المستقبل.</p>
        </div>
        <div class="card skyblue">
            <p class="tip">سندالة</p>
            <p class="container second-text">استقبلت سندالة أول مجموعة من ضيوفها معلنةً بذلك الافتتاح الرسمي للجزيرة. وبفضل مناخها المعتدل على مدار العام ومياهها الفيروزية النقية التي تعج بألوان الحياة البحرية، تقدّم سندالة تجارب استثنائية فوق سطح الماء وفي أعماق البحر. وتمتد الجزيرة، على مساحة تبلغ 840,000م². وتضم سندالة مرسى بحرياً مجهّزاً بأحدث التجهيزات التقنية والعصرية ويتسع لـ 86 رصيفاً بحرياً. كما تستعد الجزيرة لافتتاح موسم جديد للإبحار.</p>
        </div>
        <div class="card stormcloud">
            <p class="tip">ذا لاين</p>
            <p class="container second-text">يُعد مشروع "ذا لاين" ثورة في الحياة الحضرية، يضع الإنسان على رأس أولوياته بمنحه تجربة معيشة حضرية غير مسبوقة مع الحفاظ على الطبيعة المحيطة به. تتفرّد المدينة بخلوّها من الشوارع والسيارات وبالتالي فهي خالية من الانبعاثات الكربونية، إذ ستمد المدينةَ بالكامل طاقةٌ متجددة بنسبة 100%، كما ستكون 95% من مساحة نيوم طبيعة محمية لن تُمس. وستُصمم وسائل التنقل والبنية التحتية لخدمة الإنسان..</p>
        </div>
        <div class="card midnight">
            <p class="tip">تروجينا</p>
            <p class="container second-text">ستكون تروجينا وجهة متميزة عالمية المستوى تمزج بين المناظر الطبيعية والعمرانية، وتقدم تجارب تتمحور حول الإنسان لكل من ساكنيها وزوارها على حد سواء. ستضم تروجينا ستة أحياء يأتلف فيها الواقع مع الابتكارات الهندسية والفن المعماري الافتراضي. تقع هذه الوجهة على بُعد 50 كم من ساحل خليج العقبة، وتتضمن ارتفاعات تتراوح بين 1,500 متر إلى 2,600 متر فوق سطح البحر، وتغطي مساحة تقارب 60 كم².</p>
        </div>
    </div>
</div>
{% endblock %}