{% extends "base.html" %}
{%block content%}

<style>
    .card {
        background-color: #D6E0E2;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
        border-color: aliceblue;
        height: 150px;
      }
    .h4 {
        font-weight: bold;
        font-size: 1.7rem;
        color: #162A2c;
      }
    .p {
        color:#162A2c;
        line-height: 1.8;
        max-width: 800px;
        margin: 0 auto;
    }

</style>

<div class="container my-5">
    <div class="row">
      <!-- الكارد الكبير -->
      <div class="col-md-5">
        <div class="card h-100">
            <h4 class="h4">رؤية وإرث استضافة السعودية لكأس العالم</h4>
            <p class="p">استضافة المملكة لبطولة كأس العالم 2034 تشكّل أول نسخة تشهد مشاركة 48 منتخبًا، يتم تنظيمها في دولة واحدة.
               ستقدم المملكة للاتحاد الدولي لكرة القدم (الفيفا) 
               وللعالم رؤية طموحة وقصة ملهمة. يُجسّد شعار استضافة السعودية لكـأس العالم 2034 "معًا. ننمو" انعكاسًا مثاليًا لطموح المملكة باستضافة نسخة استثنائية من بطولة كأس العالم، وتطلعات الشعب السعودي ومجتمع كرة القدم حول العالم. وتطمح المملكة إلى
                تطوير كرة القدم، وتعزيز تأثيرها الإيجابي محليًا وعالميًا.
              </p>
        </div>
      </div>
      <!-- الأعمدة الصغيرة -->
      <div class="col-md-7">
        <div class="row g-3">
          <div class="col-4">
            <div class="card">
                <h4 class="h4">5</h4>
                <p>مدن مستضيفة للمباريات الرسمية</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <h4 class="h4">10</h4>
                <p>مدن مستضيفة أخرى</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <h4 class="h4">15</h4>
                <p>ملعبًا مقترحًا</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <h4 class="h4">16</h4>
                <p>مطارًا دوليًا</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <h4 class="h4">+230 ألف</h4>
                <p>وحدة فندقية في المدن المستضيفة</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <h4 class="h4">134</h4>
                <p>منشأة تدريب</p>
            </div>
          </div>
        </div>
      </div>
  
      
    </div>
  </div>
  

{% endblock %}